/** Variables **/
$thin: 100;
$extra_light: 200;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
$extrabold: 800;
$black: 900;

$lightYellow: #FFB600;
$darkYellow: #FF9800;
$lightGreen: #00E163;
$darkGreen: #00B44D;

$hackerBlue: #10356E;

$inputBorderColor: rgba(white, 0);
$inputBorderBottomColor: #bdbdbd;
$inputBorderLabelColor: $darkGreen;
