/** Variables **/
$light: 400;
$normal: 300;
$bold: 700;
$extrabold: 900;

$lightYellow: #FFB600;
$darkYellow: #FF9800;
$lightGreen: #00E163;
$darkGreen: #00B44D;

$hackerBlue: #10356E;

$inputBorderColor: rgba(white, 0);
$inputBorderBottomColor: #bdbdbd;
$inputBorderLabelColor: $darkGreen;
