@import "base/variables";
@import "base/reset";
@import "base/fonts";
@import "base/mixins";
@import "components/grid";
@import "components/loading_button";
@import "floating_label_input";

body {
  margin: 0px;
  padding: 0px;
  font-family: "Gotham", "Helvetica Neue", sans-serif;
  font-size: 16px/24px;
  color: #545454;
}

a {
  text-decoration: none;
}

.wrapper {
  height: 100vh;
  z-index: 0;
}

.wrapper > #hackerBackground {
  position: relative;
  height: 100%;
  z-index: 1;
  background-image: url("/img/pg6.jpg");
  background-size: cover;
}
.wrapper > .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.wrapper .translucentBlue {
  background: rgba($hackerBlue, .5)
}
.wrapper > .content {
  position: absolute;
  top: 47%;
  left: 50%;
  width: 100%;
  padding: 70px 16px 0 16px;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  font-family: inherit;
  @include min-bp(490px) {
      padding: 16px;
  }
  .social_media {
    margin-top: 36px;
    a {
      display: inline-block;
      padding: 4px 20px;
      color: white;
      text-decoration: none;
      font-size: 2.2em;
      line-height: 1em;
    }
  }
}
.wrapper > .content > #logo {
  position: relative;
  max-width: 360px;
  width: 100%;
  z-index: 3;
  margin-bottom: 42px;
  @include min-bp(490px) {
    margin-bottom: 72px;
    max-width: 420px;
  }
}

.content .tagline {
  color: white;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: $bold;
  margin-bottom: 24px;
  @include min-bp(490px) {
    font-size: 1.6em;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}


@import "components/main_nav";


.heading {
  font-size: 42px;
  margin-top: 0;
  text-align: center;
  &.mb-lg {
    margin-bottom: 62px;
  }
  &:after {
    content: '';
    display: block;
    height: 5px;
    background: $darkGreen;
    max-width: 70px;
    margin: 8px auto 0;
  }
}

.about-wrap {
  p {
    font-size: 20px;
    line-height: 1.5em;
  }
  padding: 80px 0;
  @include min-bp(490px) {
    padding: 124px 0;
    p {
      font-size: 22px;
      line-height: 1.6em;
    }
  }
}

.what-wrap {
  background: url('/img/splash.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  padding: 80px 0;
  .heading {
    color: white;
    margin-bottom: 52px;
    &:after {
      background: white;
    }
  }
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba($mangoRed, .85);
  }
  .container {
    position: relative;
    z-index: 2;
  }
  p {
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom: 24px;
  }
  @include min-bp(490px) {
    padding: 124px 0;
    p {
      font-size: 22px;
      line-height: 1.5em;
    }
  }
  a {
    color: white;
    font-weight: $bold;
    opacity: 1;
    text-decoration: underline;
    transition: opacity .2s ease-in-out;
    &:hover {
      opacity: .8;
    }
  }
}

.faqs-wrap {
  padding: 80px 0;
  .heading {
    flex: 1 1 100%;
  }
  .faq {
    margin-bottom: 52px;
    h3 {
      font-size: 28px;
    }
    p {
      font-size: 20px;
      line-height: 1.4em;
    }
  }
  @include min-bp(490px) {
    padding: 124px 0;
    .faq p {
      font-size: 20px;
      line-height:1.5em;
    }
  }
  @include min-bp(490px) {
    .row {
      display: flex;
      flex-wrap: wrap;
      .faq {
        flex: 1 1 50%;
        padding: 0 16px;
        &:nth-of-type(2n){
          padding-right: 0;
        }
        &:nth-of-type(2n-1){
          padding-left: 0;
        }
      }
    }
  }
}

.schedule-wrap {
  background: url('/img/atrium.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 80px 0;
  color: white;
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba($hackerBlue, .85);
  }
  .container {
    position: relative;
    z-index: 2;
  }
  @include min-bp(490px) {
    padding: 124px 0;
  }
  .heading {
    color: white;
    &:after {
      background: white;
    }
  }
  .interest {
    font-size: 32px;
    color: white;
  }
  .sell {
    color: white;
    font-size: 24px;
    line-height: 1.5em;
  }
  .days {
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    flex: 1 1 100%;
    @include min-bp(490px) {
      flex: 1 1 33.33%;
      padding: 0 12px;
      font-size: 1.2em;
    }
    .times {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: flex;
        margin-bottom: 16px;
      }
      .time {
        color: $lightYellow;
        font-weight: $bold;
        display: inline-block;
        margin-right: 25px;
        flex: 0 0 30%;
      }
    }
  }
}

.sponsors-wrap {
  padding: 80px 0 0;
  @include min-bp(490px) {
    padding: 124px 0 0;
  }
  .heading {
    &:after {
    }
  }
  .interest {
    font-size: 32px;
  }
  .sell {
    font-size: 24px;
    line-height: 1.5em;
  }
}

.partners-wrap {
  p {
    font-size: 20px;
    line-height: 1.5em;
  }
  padding: 80px 0 40px;
  @include min-bp(490px) {
    padding: 124px 0 60px;
    p {
      font-size: 26px;
      line-height: 1.6em;
    }
  }
}

.button {
  background: $lightGreen;
  color: white;
  display: inline-block;
  font-weight: $bold;
  border: none;
  line-height: 1em;
  font-size: 1.1em;
  padding: 16px 36px;
  text-decoration: none;
  border-radius: 3px;
  transition: background .2s;
  margin-bottom: 12px;
  &.register {
  }
  &.sponsor {
    background: $lightYellow;
  }
  &:hover {
    background: $darkGreen;
    &.sponsor {
      background: $darkYellow;
    }
  }
  @include min-bp(490px) {
    display: inline-block;
    &.register {
      margin-right: 4px;
    }
    &.sponsor {
      margin-left: 4px;
    }
  }
}

.partners-wrap, .sponsors-wrap {
  a.logo-wrap {
      display: inline-block;
      padding: 40px 10px;
  }
  .col-12 {
      text-align: center;
      .logo {
        max-width: 480px;
      }
  }
  .col-6 {
    text-align: center;
    .logo {
      max-width: 460px;
    }
  }
  .col-4 {
    text-align: center;
    .logo {
      max-width: 360px;
    }
  }
  .logo {
    max-width: 320px;
    width: 100%;
    padding: 10px;
    &.acm {
      padding-top:80px;
      padding: 40px;
    }
  }
}

.partners-wrap {
    .logo {
        display: inline-block;
        padding: 40px 10px;
    }
}

.register-wrap {
  // background: $darkGreen;
  padding: 64px 0;

  background: url('/img/pg6.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  .container {
    position: relative;
    z-index: 2;
  }
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba($darkYellow, .65);
  }

  @include min-bp(490px) {
    padding: 80px 0;
  }
  .heading {
    color: white;
    &:after {
      background: white;
    }
  }
  p {
    text-align: center;
    font-size: 32px;
    color: white;
  }
  a {
    color: white;
    font-weight: $bold;
    opacity: 1;
    text-decoration: underline;
    transition: opacity .2s ease-in-out;
    &:hover {
      opacity: .8;
    }
  }
}

.footer {
  background: $hackerBlue;
  padding: 40px 0;
  text-align: center;
  color: white;
  a {
    color: white;
    font-weight: $semibold;
    opacity: 1;
    display: inline-block;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 2em;
    line-height: 1em;
    margin: 0 4px 12px;
    transition: opacity .2s ease-in-out;
    &:hover {
      opacity: .8;
    }
  }
}

.super_impose{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(#ffffff, .98);
  opacity: .2;
  z-index: 10;
  transform: translate(0, -100%);
  transition: all .1s ease-in-out;
  &.active {
    background: rgba(255, 251, 241, 0.95);
    opacity: 1;
    transform: translate(0, 0);
  }
  .form-content {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 480px;
    padding: 0 16px;
    .title {
      font-size: 3em;
      color: $hackerBlue;
      line-height: 1em;
      margin: 0 0 16px;
    }
    .brah {
      font-size: 1.1em;
      color: #414141;
      font-weight: $light;
      line-height: 1.3em;
      margin: 0 0 24px;
    }
  }
  .input-field {
    @extend %floating-label-input-field;
    input[type="text"], input[type="email"] {
      border: none;
      background: rgba(white, 0);
      border-bottom: 1px solid $inputBorderBottomColor;
      font-size: 1.5em;
      padding: 12px 8px;
    }
    margin-bottom: 24px;
  }
  .button{
    &.cancel {
      background: #f96166;
    }
  }
  .message {
    font-size: 1.2em;
    background: rgba(4, 193, 85, 0.97);
    padding: 16px;
    border-radius: 5px;
    color: white;
    a {
      color: #FFFFFF;
      font-weight: bold;
    }
  }
}


.tracks-wrap {
  background: url('/img/lhd_shot.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  padding: 80px 0;
  text-align: center;
  .heading {
    color: white;
    margin-bottom: 52px;
    &:after {
      background: white;
    }
  }
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba($darkYellow, .85);
  }
  .container {
    position: relative;
    z-index: 2;
  }
  p {
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom: 24px;
  }
  @include min-bp(490px) {
    padding: 124px 0;
    p {
      font-size: 22px;
      line-height: 1.5em;
    }
  }
  a {
    color: white;
    font-weight: $bold;
    opacity: 1;
    text-decoration: underline;
    transition: opacity .2s ease-in-out;
    &:hover {
      opacity: .8;
    }
    &.button {
        text-decoration: none;
        font-size: 1.3em;
        padding: 24px 50px;
    }
  }
}
.anchors-wrap {
    a {
      font-size: 20px;
      line-height: 1.5em;
    }
    padding: 20px 0 20px;
    @include min-bp(490px) {
      padding: 40px 0 40px;
      a {
        font-size: 26px;
        line-height: 1.6em;
      }
    }
    .container {
        display: flex;
        justify-content: space-around;
        a {
            text-align: center;
            font-weight: bold;
            display: inline-block;
            line-height: 1em;
            border-radius: 4px;
            padding: 20px 17px;
            transition: all .2s ease-in-out;
            box-shadow: none;
            &[href='#green'] {
                color: $darkGreen;
            }
            &[href='#yellow'] {
                color: $darkYellow;
            }
            &[href='#red'] {
                color: $mangoRed;
            }
            &:hover {
                box-shadow: 3px 3px 10px 0px #D0D0D0;
            }
        }
    }
}

.flavor-wrap {
    p {
      font-size: 18px;
      line-height: 1.5em;
    }
    padding: 60px 0 60px;
    @include min-bp(490px) {
      padding: 80px 0 80px;
      p {
        font-size: 22px;
        line-height: 1.6em;
      }
    }
    &#yellow .heading:after {
        background: $darkYellow;
    }
    &#red .heading:after {
        background: $mangoRed;
    }
  .day {
    flex: 1 1 100%;
    font-size: 1.2em;
    margin-bottom: 16px;
    .times {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        margin-bottom: 16px;
      }
      .time {
        color: $lightYellow;
        font-weight: $bold;
        display: inline-block;
        margin-right: 25px;
        flex: 0 0 30%;
      }
    }
  }
}

[v-cloak] {
  display: none;
}


.live {
  .updates, .schedule {

    > h2 {
      background: $lightGreen;
      color: white;
      font-weight: $bold;
      text-align: center;
      border: 1px solid white;
      margin: 0;
      padding: 16px;
    }
  }

  .tracks-wrap:after {
    background: rgba(244, 42, 31, 0.75);
  }
  @media (min-width: 490px){
    .tracks-wrap {
      padding: 100px 0;
      background-image: url("/img/atrium.jpg");
    }
  }
  .countdown {
    font-size: 3.5em;
    margin: 0;
    @include min-bp(490px) {
      font-size: 6em;
    }
  }
  p.countdown-sub {
    font-size: 2.5em;
    margin: 0;
  }
  @include min-bp(500px) {
    .updates-wrap {
      //margin-right: 10px;
    }
    .program-wrap {
      //margin-left: 10px;
    }
  }
  .updates-wrap, .program-wrap {
    min-height: 500px;
    max-height: 700px;
    overflow-y: auto;
    border: 1px solid #ECECEC;
    box-shadow: 0px -12px 11px -13px #9C9C9C inset;
  }
  .updates-wrap {
    padding: 10px;
  }
  #live .grid .row {
    align-items: flex-start;
  }
  .update-item {
    padding: 16px;
    box-shadow: 0px 0px 10px -3px #BDBDBD;
    margin-bottom: 12px;
    border-radius: 3px;
    .title {
      margin: 10px 0 5px;
    }
    .date {
      margin: 10px 0;
      font-weight: $normal;
    }
    p {
      margin: 0;
      font-size: 16px;
    }
  }
  .schedule-item {
    display: flex;
    align-items: center;
    justify-content:center;
    border-bottom: 1px solid #E4E4E4;
    padding: 16px;
    .time {
      flex: 1 1 33.33%;
      text-transform: uppercase;
      color: $lightGreen;
      font-weight: $bold;
    }
    .dets {
      flex: 1 1 66.66%;
      .location{
        margin: 0;
        font-weight: $normal;
        margin-bottom: 4px;
      }
      .title {
        margin: 0;
      }
    }
  }
}

